* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
  }
  

  button{
    text-transform: initial !important;
  }

  button:disabled{
    color:white !important;
    opacity: 0.5;
    background-color: #4F58C6 !important;
  }

p{
  color: white;
}

span{
  color: #FFFFFF99 !important;
}